


<!-- =========================
     START CONTCT FORM AREA
============================== -->
    <div id="google-map" class="wow fadeIn" data-latitude="20.5296883" data-longitude="-103.4587419,17z" data-wow-duration="1000ms" data-wow-delay="400ms"  style="display:none;"></div>

    <section class="contact page" id="CONTACT">
        <div class="section_overlay">
                
            <div class="container">
                <div class="col-md-10 col-md-offset-1 wow bounceIn">
                    <!-- Start Contact Section Title-->
                    <div class="section_title">
                        <h2>Contáctanos</h2>
                        <!--<p>If you wish to request information, advice or if you need us to schedule a visit, please leave us your message through our contact form.</p>-->
                        <p>If you wish to request information, advice or if you need us to schedule a visit, please call us, we will enjoy to assit you and learn what you need.</p>
                    </div>


                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">
                        <!-- FEATURE -->
                        <div class="right_single_feature">
                                <!-- ICON -->
                                <div><span class="fa fa-phone"></span></div>

                                <!-- FEATURE HEADING AND DESCRIPTION -->
                                <h3><span>/</span>Call us</h3>
                                <p>Cel: 55 1333-9558</p>
                                <p>What's up: +52 1 55 1333-9558</p>
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">
                        <div class="right_single_feature">
                                <!-- ICON -->
                                <div><span class="fa fa-map-marker"></span></div>

                                <!-- FEATURE HEADING AND DESCRIPTION -->
                                <h3><span>/</span>Address</h3>
                                <p>8th Lancaster St, Coto 5 San Francisco, Alta California, Tlajomulco de Zuñiga, Jalisco, C.P. 45645.</p>
                        </div>
                    </div>
                    <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">
                        <div class="right_single_feature">
                                <!-- ICON -->
                                <div><span class="fa fa-envelope"></span></div>

                                <!-- FEATURE HEADING AND DESCRIPTION -->
                                <h3><span>/</span>E-mail</h3>
                                <p><a href="mailto:ricardo.stagle@gmail.com">ricardo.stagle@gmail.com</a></p>
                                <!--
                                <p><a href="mailto:informes@dominioweb.com.mx">informes@dominioweb.com.mx</a></p>
                                 -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact_form wow bounceIn" style="display:none;">
                <div class="container">

                <!-- START ERROR AND SUCCESS MESSAGE -->
                    <div class="form_error text-center">
                        <div class="name_error hide error">Por favor escribe tu nombre</div>
                        <div class="email_error hide error">Por favor escribe tu correo electrónico</div>
                        <div class="email_val_error hide error">Por favor escribe una dirección de correo electrónico valida</div>
                        <div class="message_error hide error">Por favor escribe tu mensaje</div>
                    </div>
                    <div class="Sucess"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->

                <!-- FORM -->    
                    <form role="form" style="display:none;">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="name" placeholder="Nombre">
                                <input type="email" class="form-control" id="email" placeholder="Correo electrónico">
                                <input type="text" class="form-control" id="subject" placeholder="Tema">
                            </div>


                            <div class="col-md-8">
                                <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  Texto del mensaje..."></textarea>
                                <button type="button" class="btn btn-default submit-btn form_submit">Enviar Mensaje</button>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM --> 
                </div>
            </div>
 

            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceInLeft">
                        <div class="social_icons">
                           
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>
    <!-- END CONTACT -->



<!-- =========================
     Start Subscription Form 
============================== -->



    <section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
        <div class="section_overlay wow lightSpeedIn">
            <div class="container">
                
            </div>
        </div>
    </section>

    <!-- END SUBSCRIPBE FORM -->


<!-- =========================
     FOOTER 
============================== -->

    <section class="copyright">
        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy_right_text">
                    <!-- COPYRIGHT TEXT -->
                        <p>Copyright &copy; 2019 <br><span>by </span><a href="http://dominioweb.com.mx/">DOMINIOWEB</a></p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="scroll_top">
                        <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- END FOOTER -->