<!-- =========================
     SCRIPTS 
============================== -->


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_cglwNtQYCIr8HL3m9V9kUgO-8GaoGZs&callback=initMap"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&key=AIzaSyA_cglwNtQYCIr8HL3m9V9kUgO-8GaoGZs&callback=initMap"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.ajaxchimp.langs.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>-->
    <script src="js/script.js"></script>


<script type="text/javascript">
var nbg=Math.floor((Math.random() * 3) + 1);
var nbg2=Math.floor((Math.random() * 3) + 1);
var nbg3=Math.floor((Math.random() * 3) + 1);
document.getElementById("HOME").className = "header bg"+nbg.toString();
document.getElementById("FONDO2").className = "fun_facts bg"+nbg2.toString();
document.getElementById("FONDO3").className = "fun_facts bg"+nbg2.toString();
</script>