
 <!-- =========================
     START HEADER SECTION
============================== -->
    <section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="dist/images/logo.png" alt="Logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="#HOME">HOME</a> </li>
                            <li><a href="#ABOUT">ABOUT US</a> </li>
                            <li><a href="#FEATURES">SERVICES</a></li>
                            <li><a href="#CONTACT">CONTACTO</a> </li>
                            <li><a href="/es-mx">SPANISH</a> </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container- -->
            </nav>

            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                                <!-- LOGO -->
                            <img src="dist/images/logo.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="home_text">
                            <!-- TITLE AND DESC -->
                            <h1>Web design and development<br>in your hands</h1>
                            <p>CREATIVITY IN DIGITAL DEVELOPMENT</p>

                            <div class="download-btn">
                            <!-- BUTTON -->
                                <a class="btn home-btn wow fadeInLeft" href="#ABOUT">Meet us</a>
                                <!--<a class="tuor btn wow fadeInRight" href="#ABOUT">Conócenos<i class="fa fa-angle-down"></i></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="home-iphone">
                            <img src="dist/images/portada.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END HEADER SECTION -->




 <!-- =========================
     START ABOUT US SECTION
============================== -->


    <section class="about page" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="section_title">
                        <h2>CREATIVITY IN DIGITAL DEVELOPMENT</h2>
                    </div>
                    <div class="video_title">
                        <p>DOMINIOWEB is a young company, leader in the area of design and development services. The company has extensive experience in technologies to assist in the development of a wide variety of applications that meet the specific needs of start-ups, and medium-sized and large established companies.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="video_title">
                        <p>In DOMINIOWEB we are guided by innovative thinking. The most powerful characteristic of man is innovative thinking, which allows an organization like ours to overcome expectations, to be above routine, expected and habitual, reaching innovative solutions that add value to our products and services while we strengthen our customers by differentiating them from the rest of the market.</p>
                        <p>We make your site work much better, we can improve the potential of your business. Our team can give you the brightness you need in design and development. We respect deadlines, understand budgets and guarantee everything we develop.</p>
                    </div>
                </div>

                <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                            <img src="dist/images/tecnologias.png" alt="">
                        </div>
                </div>

                 <div class="col-md-12">
                    <div class="video_title">
                        <p>In addition to web design and development, DOMINIOWEB also has Social Media Marketing, Search Engine Marketing, Search Engine Optimization, hosting, domain registration, e-commerce solutions, content management systems, Flash, html5, to name a few of our services . The goal of DOMINIOWEB is to provide an innovative experience in design and development using our industry knowledge, our experience, the wealth of dynamic ideas and cutting-edge technology.</p>
                    </div>
                </div>


            </div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-target"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>Mission</h3>
                                <p>Being a company specialized in the development of information technologies and products related to technological development that, for its quality in services, treatment and advice, is the preferred of both professional and amateur clients.</p>
                            </div>
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-look"></i></div>
                                <!--<div><i class="pe-7s-stopwatch"></i></div>-->
                                <!-- HEADING DESCRIPTION -->
                                <h3>Vision</h3>
                                <p>Consolidate as leaders in the market of technology providers serving all levels of customers and helping to have a competitive and innovative Mexico.</p>
                            </div>
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-diamond"></i></div>
                                <!--<div><i class="pe-7s-stopwatch"></i></div>-->
                                <!-- HEADING DESCRIPTION -->
                                <h3>Values</h3>
                                <p>First of all develop a high quality work, which is recommended only to our customers, differentiating ourselves from the competition. As well as guarantee the commitments of scope and time acquired.</p>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                            <img src="dist/images/valores.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>



<!-- =========================
     Start FUN FACTS
============================== -->


    <section  id="FONDO2" class="fun_facts">
        <div class="section_overlay">
            
        </div>
    </section>

    <!-- END FUN FACTS -->


        <div class="video_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeftBig">
                    <!-- VIDEO LEFT TITLE -->
                        <div class="video_title">
                            <h2>Quality is the key</h2>
                            <p>In DOMINIOWEB each project undertaken implies seven steps for its development. These are the definition, analysis, design, development, implementation and support, taking care that in each of these levels the most important factor is Quality Control (CC).</p>
                            <p>The strength of DOMINIOWEB is the focus in the quality process that also ensures the development of the most demanding requirements of the clients helping us to document them in a clear and coherent way. The continuous improvement of our Quality Management System (QMS) perfectly integrates multiple quality approaches, which result in tangible benefits for our customers.</p>
                        </div>
                        <!--<div class="video-button">
                            <a class="btn btn-primary btn-video" href="#FEATURES" role="button">Features</a>
                        </div>-->
                    </div>
                    <div class="col-md-6 wow fadeInRightBig">
                         <!-- VIDEO -->
                        <div class="video">
                            <img src="dist/images/construccion-calidad.png" alt="">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us -->







<!-- =========================
     START FEATURES
============================== -->
    <section id="FEATURES" class="features page">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <h2>Our services</h2>
                        <p>Learn about the services that DOMINIOWEB offers you. We can assure you that your site, platform or development can not be in better hands than in those of our experts.</p>
                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="feature_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-like"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Creative design</h3>
                            <p>Project your brand is the main commitment that DOMINO WEB is assumed. We develop your concept and put the experience that the company has for your business to be successful.</p>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-display1"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Digital marketing</h3>
                            <p>We develop marketing strategies for digital media such as Social Networks (Twitter, Facebook, etc.), Adwords and others, for a wide dissemination of your services.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-browser"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Web design</h3>
                            <p>We design attractive and innovative visual solutions. We invite you to be quiet knowing that you have a web design that guarantees the impact you will have for your site.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-graph1"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Analytics</h3>
                            <p>We measure the performance of your portal and provide you with the visibility of the appropriate decisions to ensure that your investment in digital media is well spent obtaining the benefits you need.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    

                    <div class="col-md-6 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-monitor"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Applications development</h3>
                            <p>We have solutions in web applications using opensources platforms and cutting-edge technologies. We offer the best IT services, custom applications and solutions to satisfy our clients.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-anchor"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Incredible maintenance and support</h3>
                            <p>Our solutions have our support until you see them implemented and giving you results. You can also count on our support the time you indicate us through our support service.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-gleam"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Custom development</h3>
                            <p>We provide custom software development services. We focus on the development of quality software that emphasizes the satisfaction of our clients' specific business needs. We create efficient solutions, maintaining the development of high quality software and constantly seek to exceed the expectations of customers.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-study"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>E-learning</h3>
                            <p>We generate comprehensive solutions and easily measurable online learning products. We are a company specialized in the design, implementation and administration of online solutions to help you achieve the learning objectives for each of the educational programs required by your company.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- END FEATURES SECTION -->


<!-- =========================
     Start FUN FACTS
============================== -->


    <section  id="FONDO3" class="fun_facts">
        <div class="section_overlay">
            
        </div>
    </section>

    <!-- END FUN FACTS -->




<!-- =========================
     START DOWNLOAD NOW 
============================== -->
    <section class="download page" id="DOWNLOAD">
        
        <div class="available_store">
            <div class="container  wow bounceInRight" data-wow-duration="1s">
                <div class="col-md-6">
                    <div class="available_title">
                        <h2>We develop on the platform<br>that you need</h2>
                    </div>
                </div>

                <!-- DOWNLOADABLE STORE -->
                <div class="col-md-6">
                    <div class="row">
                        <a href="">
                            <div class="col-md-4 no_padding">
                                <div class="single_store">
                                    <i class="fa fa-apple"></i>
                                    <div class="store_inner">
                                        <h2>iOS</h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="col-md-4 no_padding">
                            <a href="">
                                <div class="single_store">
                                    <i class="fa fa-android"></i>
                                    <div class="store_inner">
                                        <h2>ANDROID</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 no_padding">
                            <a href="">
                                <div class="single_store last">
                                    <i class="fa fa-windows"></i>
                                    <div class="store_inner">
                                        <h2>WINDOWS</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END DOWNLOADABLE STORE -->
            </div>
        </div>
    </section>
    <!-- END DOWNLOAD -->