
 <!-- =========================
     START HEADER SECTION
============================== -->
    <section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="dist/images/logo.png" alt="Logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="#HOME">HOME</a> </li>
                            <li><a href="#ABOUT">NOSOTROS </a> </li>
                            <li><a href="#FEATURES">SERVICIOS</a></li>
                            <li><a href="#CONTACT">CONTACTO </a> </li>
                            <li><a href="/">ENGLISH</a> </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container- -->
            </nav>

            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                                <!-- LOGO -->
                            <img src="dist/images/logo.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="home_text">
                            <!-- TITLE AND DESC -->
                            <h1>Diseño y desarrollo web<br>en tus manos</h1>
                            <p>CREATIVIDAD EN DESARROLLO DIGITAL</p>

                            <div class="download-btn">
                            <!-- BUTTON -->
                                <a class="btn home-btn wow fadeInLeft" href="#ABOUT">Conócenos</a>
                                <!--<a class="tuor btn wow fadeInRight" href="#ABOUT">Conócenos<i class="fa fa-angle-down"></i></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="home-iphone">
                            <img src="dist/images/portada.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END HEADER SECTION -->


<!-- =========================
     START ABOUT US SECTION
============================== -->


    <section class="about page" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- ABOUT US SECTION TITLE-->
                    <div class="section_title">
                        <h2>Creatividad en desarrollo digital</h2>
                    </div>
                    <div class="video_title">
                        <p>DOMINIOWEB es una empresa joven, lider en el área de servicios del diseño y desarrollo. La empresa cuenta con una amplia experiencia en tecnologías para ayudar en el desarrollo de una gran variedad de apliciaciones que cumplen la necesidades específicas de Start-ups, y de medianas y grandes empresas establecidas. </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="video_title">
                        <p>En DOMINIOWEB nos guiamos por el pensamiento innovador. La característica más poderosa del hombre es el pensamiento innovador, lo que le permite a una organización como la nuestra superar las espectativas, ubicarse encima de la rutina, de lo esperado y habitual, llegando a soluciones innovadoras que aportan valor a nuestros productos y servicios mientras fortalecemos a nuestros clientes diferenciandolos de resto del mercado.</p>
                        <p>Hacemos que su sitio funcione mucho mejor, podemos mejorar el potencial de tu negocio. Nuestro equipo puede darle el brillo que necesita en diseño y desarrollo. Respetamos los plazos, entendemos los presupuestos y garantizamos todo lo que desarrollamos.</p>
                    </div>
                </div>

                <div class="col-md-6">
                        <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                            <img src="dist/images/tecnologias.png" alt="">
                        </div>
                </div>

                 <div class="col-md-12">
                    <div class="video_title">
                        <p>Ádemas de diseño y desarrollo web, DOMINIOWEB también dispone de Social Media Marketing, Search Engine Marketing, Search Engine Optimization, hosting, registro de dominios, soluciones de comercio electrónico, sistemas de gestión de contenido, Flash, html5, por mencionar algunos de nuestros servicios. El objetivo de DOMINIOWEB es proporcionar una experiencia innovadora en diseño y desarrollo utilizando nuestros conocimientos de la industria, nuestra experiencia, la riqueza de ideas dinámicas y tecnología de vanguardia.</p>
                    </div>
                </div>


            </div>
        </div>
        <div class="inner_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="inner_about_desc">
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                                <!-- ICON -->
                                <div><i class="pe-7s-target"></i></div>
                                <!-- HEADING DESCRIPTION -->
                                <h3>Misión</h3>
                                <p>Ser una empresa especializada en el desarrollo de tecnologías de la información y productos relacionados al desarrollo tecnológico que, por su calidad en los servicios, trato y asesoría, sea la preferida de los clientes tanto profesionales como amateur.</p>
                            </div>
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-look"></i></div>
                                <!--<div><i class="pe-7s-stopwatch"></i></div>-->
                                <!-- HEADING DESCRIPTION -->
                                <h3>Visión</h3>
                                <p>Consolidarnos como líderes dentro del mercado de los proveedores de tecnología atendiendo todos los niveles de clientes y ayudando a tener un México competitivo e innovador.</p>
                            </div>
                            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                                <!-- ICON -->
                                <div><i class="pe-7s-diamond"></i></div>
                                <!--<div><i class="pe-7s-stopwatch"></i></div>-->
                                <!-- HEADING DESCRIPTION -->
                                <h3>Valores</h3>
                                <p>Ante todo desarrollar un trabajo de alta calidad, que se recomiende solo ante nuestros clientes, diferenciandonos de la competencia. Así como garantaizar los compromisos de alcance y tiempo adquiridos.</p>
                            </div>
                            <!-- END SINGLE DESC -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_phone wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                            <img src="dist/images/valores.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>



<!-- =========================
     Start FUN FACTS
============================== -->


    <section  id="FONDO2" class="fun_facts">
        <div class="section_overlay">
            
        </div>
    </section>

    <!-- END FUN FACTS -->


        <div class="video_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeftBig">
                    <!-- VIDEO LEFT TITLE -->
                        <div class="video_title">
                            <h2>La calidad es la clave</h2>
                            <p>En DOMINIOWEB cada proyecto emprendido implica siete pasos para su desarrollo. Estos son la definición, análisis, diseño, desarrollo, implementación y soporte, cuidando que en cada uno de estos niveles el factor más importante sea el Control de Calidad (CC).</p>
                            <p>La fortaleza de DOMINIOWEB es el enfoque en el proceso de calidad que también asegura el desarrollo de los más exigentes requisitos de los clientes ayudándonos a documentarlos en una forma clara y coherente. La mejora continua de nuestro Sistema de Gestión de Calidad (SGC) integra perfectamente múltiples enfoques de calidad, que resultan en beneficios tangibles para nuestros clientes.</p>
                        </div>
                        <!--<div class="video-button">
                            <a class="btn btn-primary btn-video" href="#FEATURES" role="button">Features</a>
                        </div>-->
                    </div>
                    <div class="col-md-6 wow fadeInRightBig">
                         <!-- VIDEO -->
                        <div class="video">
                            <img src="dist/images/construccion-calidad.png" alt="">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us -->







<!-- =========================
     START FEATURES
============================== -->
    <section id="FEATURES" class="features page">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- FEATURES SECTION TITLE -->
                    <div class="section_title wow fadeIn" data-wow-duration="1s">
                        <h2>Nuestros Servicios</h2>
                        <p>Conoce los servicios que en DOMINIOWEB ponemos a tu disposición. Te podemos asegurar que tu sitio, plataforma o desarrollo no puede quedar en mejores manos que en las de nuestros expertos.</p>
                    </div>
                    <!-- END FEATURES SECTION TITLE -->
                </div>
            </div>
        </div>

        <div class="feature_inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-like"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Diseño Creativo</h3>
                            <p>Proyectar tu marca es el principal compromiso que en DOMINIOWEB asumimos. Desarrollamos tu concepto y ponermos la experiencia con que la empresa cuenta para que tu negocio sea exitoso.</p>
                        </div>

                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-display1"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Marketing digital</h3>
                            <p>Desarrollamos estratégias de comercialización para los medios digitales como los son Redes Sociales (Twitter, Facebook, etc), Adwords y entre otras, para una amplia difusión de tus servicios.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-browser"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Diseño Web</h3>
                            <p>Diseñamos soluciones visuales atractivas e innovadoras. Te invitamos a que estes tranquilo sabiendo que cuentas con el diseño web que garantice el impacto que esparas para tu sitio.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-graph1"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Analytics</h3>
                            <p>Medimos el rendimiento de tu portal y te proporcionamios la visibilidad de las decisiones oportunas para asegurar que tu inversión en los medios digitales esta bien empleada obteniendo los beneficios que necesitas.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                    </div>
                    

                    <div class="col-md-6 left_no_padding wow fadeInRight" data-wow-duration="1s">

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-monitor"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Desarrollo de Aplicaciones</h3>
                            <p>Contamos con soluciones en aplicaciones web utilizando plataformas opensources y tecnologías de vanguardia. Ofrecemos los mejores servicios de TI, aplicaciones personalizadas y soluciones para satisfacer a nuestros clientes.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-anchor"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Increíble mantenimiento y soporte</h3>
                            <p>Nuestras soluciones cuentan con nuestro soporte hastas verlas implementadas y dandote resultados. Ademas puedes contar con nuestro resplado el tiempo que tu nos indiques por medio de nuestro servicio de soporte.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->


                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-gleam"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>Desarrollo a la medida</h3>
                            <p>Proporcionamos servicios de desarrollo de software a medida. Nos centramos en el desarrollo de software de calidad que pone énfasis en la satisfacción de las necesidades comerciales específicas de nuestros clientes. Creamos soluciones eficientes, manteniendo el desarrollo de software de alta calidad y constantemente buscamos superar las expectativas de los clientes.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->

                        <!-- FEATURE -->
                        <div class="right_single_feature">
                            <!-- ICON -->
                            <div><span class="pe-7s-study"></span></div>

                            <!-- FEATURE HEADING AND DESCRIPTION -->
                            <h3><span>/</span>E-learning</h3>
                            <p>Generamos soluciones integrales y productos de aprendizaje en línea fácilmente medibles. Somos una empresa especializada en el diseño, implementación y administración de soluciones en línea para ayudarte a alcanzar los objetivos de aprendizaje para cada unos de los programas educativos que requiera tu empresa.</p>
                        </div>
                        <!-- END SINGLE FEATURE -->
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- END FEATURES SECTION -->


<!-- =========================
     Start FUN FACTS
============================== -->


    <section  id="FONDO3" class="fun_facts">
        <div class="section_overlay">
            
        </div>
    </section>

    <!-- END FUN FACTS -->




<!-- =========================
     START DOWNLOAD NOW 
============================== -->
    <section class="download page" id="DOWNLOAD">
        



        <div class="available_store">
            <div class="container  wow bounceInRight" data-wow-duration="1s">
                <div class="col-md-6">
                    <div class="available_title">
                        <h2>Desarrollamos en la plataforma<br>que necesites</h2>
                    </div>
                </div>

                <!-- DOWNLOADABLE STORE -->
                <div class="col-md-6">
                    <div class="row">
                        <a href="">
                            <div class="col-md-4 no_padding">
                                <div class="single_store">
                                    <i class="fa fa-apple"></i>
                                    <div class="store_inner">
                                        <h2>iOS</h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="col-md-4 no_padding">
                            <a href="">
                                <div class="single_store">
                                    <i class="fa fa-android"></i>
                                    <div class="store_inner">
                                        <h2>ANDROID</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 no_padding">
                            <a href="">
                                <div class="single_store last">
                                    <i class="fa fa-windows"></i>
                                    <div class="store_inner">
                                        <h2>WINDOWS</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- END DOWNLOADABLE STORE -->
            </div>
        </div>
    </section>
    <!-- END DOWNLOAD -->
